#level_1 td{
    height: 145px;
    width: 145px;

}
#level_2 td{
    height: 95px;
    width: 95px;
}
#level_3 td{
    height: 70px;
    width: 70px;
}
#level_4 td{
    height: 56px;
    width: 56px;
}
#level_5 td{
    height: 46px;
    width: 46px;
}
#level_6 td{
    height: 39px;
    width: 39px;
}
#level_7 td{
    height: 34px;
    width: 34px;
}
#level_8 td{
    height: 30px;
    width: 30px;
}

